body {
}
h1,h2,h3,h4{
    color: #C32A29;
}
.img_logo{
    height: 90px;
    border-radius: 20px 20px 42px 42px;
}
.site-title h1{
    font-size: 50px;
    color: #ef0606;
}
.site-title h3{
    font-size: 20px;
    color: #eb4b4b;
}
.site-title h1,.site-title h3{
    margin: 0;
}
.site-title .logo{
    
}
.site-title .text{
    padding-left: 3px;
}
.navigation{
 text-align: center;   
}
ul#menu{
    max-width: 1024px;
    margin: 0 auto;
}
ul#menu li:hover{
    background: #ef0606;
}
ul#menu li a:hover {
    color: #ffffff;
}
#main-content{
    padding: 3px;
    min-height:520px;
}

ul#issue-link{
    list-style: none;
}
ul#issue-link li a{
  background-image: url("../image/issues_bg.png");
    background-repeat: no-repeat;
    color: #ef0606;
    display: block;
    font-family: tahoma;
    font-size: 21px;
    height: 95px;
    list-style: outside none none;
    padding: 5px 12px;
    text-decoration: none;
    width: 294px;
}
.clear{
    clear: both;
}
#main-content{
    margin: 0 auto;text-align: left;max-width: 1024px;
    text-align: justify;
}

#slider1_container{
    float: right;
}

#blog-gallery{
    max-height: 350px;
    overflow: auto;
}
#gallery-brief,#recent-blogs{
    width: 49%;
    float: left;
    height: 100%;
}
#contact-content{
    text-align: center;
}

#top-nav a{
    font-size: 10px;
}

#address-div,#feedback-form{
    width: 50%;
    float: left;
}
#feedback-form input,#feedback-form button{
    font-size: 15px;
}

img.director,img.editor-thumb{
	height: 88px;
	margin: 2px;
	width: 88px;
	border-radius: 44px;
	box-shadow: 0px 0px 7px;
}

.editor-block p img.editor-thumb {
    float:left; 
}
.editor-block p:nth-of-type(2n) img.editor-thumb {
    float:right; clear:right;
}

#gallery-brief img {
    box-shadow: 3px 3px 3px red;
    float: left;
    height: 110px;
    margin: 10px;
    width: 140px;
    -webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
}
#gallery-brief img:hover {
    box-shadow: 0px 0px 3px red;
}
.issue{
	text-align: center;
}
.issue-action{
	line-height: 30px;
}
.issue-action button,.issue-action a{
	height: 35px;
	border:2px groove;
	text-decoration:none;
	padding:3px;
	color:#400080;
	font-weight:bold;
    background: -webkit-linear-gradient(left, red , #cc5fd8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, #cc5fd8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, #cc5fd8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red , #cc5fd8); /* Standard syntax (must be last) */
}
.grad1 {
    background: -webkit-linear-gradient(left, red , blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red , blue); /* Standard syntax (must be last) */
}
.subscribe-msg{
	text-align: center;
	font-weight: bold;
}

.issueyear,.issueterm{color: blue;font-weight: bold;}

.issuetitle{color:red;font-weight: bold;font-size: 17px;}
.issueautherc{color: blue;font-weight: bold;}
.issueauther{}

ul.issue-list li{
	list-style: none;
}
ul.issue-list li:hover{
	background:  rgb(231, 200, 200);
	
}



.cke_skin_v2 input.cke_dialog_ui_input_text, .cke_skin_v2 input.cke_dialog_ui_input_password {
    background-color: white;
    border: none;
    padding: 0;
    width: 100%;
    height: 14px;
    /* new lines */
    position: relative;
    z-index: 9999;
}