@media only screen and (max-width: 850px) {
  
#main-content{
   padding: 2px;
}
.two-col{
	width:auto;
}
#slider1_container{
    float: none;
}
  #gallery-brief, #recent-blogs {
        width: auto;
        float: none;
    }

#address-div,#feedback-form{
    width: auto;
    float: none;
}

ul#issue-link li a{
    background-size: 72%;
}
#blog-gallery{
    max-height: none;
}
}
